body{
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    font-family: sans-serif;
    background-image: url('../images/grayscale-photo-of-sea-waves-crashing-on-rock-formation-3876329.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    margin: 0px;
    height: 300;
}
header img#default2{
    float: right;
}
nav {
    text-align: center;
    width: 70%;
    margin: 10px 10px 0px 10px; 
}
nav ul {
    margin: 0px; 
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}
nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
    color: black;
    border-bottom: none;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    color: aquamarine;
}
footer {
     font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    font-family: sans-serif;
    text-align: center;
}